.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10em auto ;
    /* grid-area: 'header header header'
    'main main main'; */
}
main {
    grid-column-start: 1;
    grid-column: span 3;
}