* {
    background-color: black;
    color: white;
}
.container {
    display: grid;
    /* flex-wrap: wrap; */
    /* grid-template-columns: 70% 30%; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 80% 20%; */
    /* flex-direction: column; */
    /* box-sizing: border-box; */
    /* padding: 35px; */
    gap: 1.5rem;
    
}
#welcome {
    display: inline-grid;
    flex-wrap: wrap;
    /* border: 4px red solid; */
    /* max-width: 1100px; */
    max-height: 2000px; 
    font-size: 78px;
    padding-left: 20px;
     align-self: end;
    /*grid-column-start: 1;*/
    grid-row-start: 2; 
    grid-row: span 2;
}
#profile_pic {
    justify-self: center;
  align-self: end;
  margin-top: 50px;
}
.grid-column-spread2{
    grid-column: span 2;
}
#name {
    display: inline-grid;
    border: solid white 3px;
    color: aliceblue;
    max-width: fit-content;
    border-radius: 25%;
    padding: 20px;
    grid-row-start: 4;
    grid-column-start: 1;
    align-self: center;
    margin-left: 30px;
  
}
#contact {
    grid-row-start: 3;
    grid-column-start: 3;
    justify-self: center;

}    