.screenshot {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    border: 8px solid #c5b995 ;
  }
  
  .screenshot img {
    max-width: 100%;
  }
  
  .screenshot .description {
    margin-top: 1rem;
    font-size: 20px;
    text-align: center;
    
  }