.education_con {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr; 
    grid-template-rows:20em 90vh ;
    grid-template-areas:'. header .'
    '.main.' ;

}
#education {
    
    grid-column-start: 3;
    max-height: 200px; 
    font-size: 78px;
    grid-area: education;
    
}

.graduation {
    grid-column-start: 2;

}
.bullets {
    grid-column-start: 1;
    font-size: 25px;
    list-style-type: disc;
}
.education_list {
    grid-column-start: 1 span 2;
    
}

.span2 {
    column-span: 2;
} 

main {
    grid-area: main;
    
}

header {
    grid-area: header;
    font-family: 'Lobster', cursive;
    font-size: 110px;
}

.education{
    list-style-image: url(../../images/down-right.svg);
    font-size: 30px;
    
}

.background {
    padding-left: 300px;
}